body{
    font-family: 'Franklin Gothic Light';
}

.home-page{
    background-color: rgb(218, 238, 245);
}

.facts-page{
    background-color: blueviolet;
}
.navbar{
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
}
.navbar a{
    font-size: large;
    text-decoration: none;
}

.home-content-div{
    text-align: center;
    font-family: 'Franklin Gothic Light';
}
.home-content-div p{
    font-size: medium;
}

.facts-contents-div{
    margin-left: 10%;
    font-size: large;
}

.facts-contents-div li{
    font-size: large;
}